langchain
langchain-community
langchain-core
langchain-huggingface
sentence-transformers
pinecone
pinecone-client
pinecone-notebooks
pinecone-text
nltk
numpy
python-dotenv
pandas
anthropic
huggingface_hub

streamlit
